*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

   background:#f5f5f5;
}



.todo-container{

    width:420px;

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 10px 30px rgba(0,0,0,0.2);

}



h1{

    text-align:center;

    margin-bottom:25px;

}



.input-section{

    display:flex;

    gap:10px;

}



.text{

    flex:1;

    padding:12px;

    border:1px solid #ccc;

    border-radius:8px;

    outline:none;

}



.btn{

    background:#3498db;

    color:white;

}



button{

    border:none;

    padding:10px 15px;

    border-radius:8px;

    cursor:pointer;

}



.filters{

    display:flex;

    justify-content:center;

    gap:10px;

    margin:25px 0;

}



.filter-btn{

    background:#eee;

    color:#333;

}



.filter-btn.active{

    background:#2ecc71;

    color:white;

}



.task-list{

    list-style:none;

}



.task-item{

    display:flex;

    align-items:center;

    justify-content:space-between;

    background:#f5f5f5;

    padding:12px;

    margin-bottom:10px;

    border-radius:8px;

}



.task-left{

    display:flex;

    gap:10px;

    align-items:center;

}



.completed{

    text-decoration:line-through;

    color:gray;

}



.delete-btn{

    background:#e74c3c;

    color:white;

}



@media(max-width:500px){

    .todo-container{

        width:90%;

    }

}